---
layout: default
title: "modelo x"
---
{% include teaser.html %}

{% for post in paginator.posts %}

      <h1 class="entry-title">
        <a href="{{ post.url }}" rel="bookmark" title="Permalink to {{ post.title }}">{{ post.title }}</a>
      </h1>
      <div class="entry-meta entry-meta-header">
        <span class="icon-left entry-meta-icon icon-entry-date">
          <a class="entry-meta-link" href="{{ post.url }}" rel="bookmark" title="{{ post.date }}">
            <time class="date updated" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
          </a>
        </span>
      </div>

{% endfor %}





