---
layout: default
title: "Home"
---

<hr>
<hr>
<hr>
<hr>
<hr>
<p><strong>Visitante: </strong><i>Como pode um cidadão intervir na sua sociedade, com correção política ou politicamente incorreto?</i></p>
<p><strong>Rui Felizes: </strong><i>Estes artigos são e fazem parte das minhas respostas!</i></p>
<hr>
<hr>
<hr>

{% for post in site.posts %}

<article class="post">
    <header class="entry-header">
      <h1 class="entry-title">
        <a href="{{ post.url }}" rel="bookmark" title="Permalink to {{ post.title }}">{{ post.title }}</a>
      </h1>
      <div class="entry-meta entry-meta-header">
        <span class="icon-left entry-meta-icon icon-entry-date">
          <a class="entry-meta-link" href="{{ post.url }}" rel="bookmark" title="{{ post.date }}">
            <time class="date updated" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
          </a>
        </span>
      </div>
    </header>
    <div class="text-left">
      {% if post.description %}
        {{ post.description | markdownify }}
          <a class="continue-reading" href="{{ post.url }}" rel="bookmark" title="Permalink to {{ post.title }}">Continuar a ler</a>
        {% else %}
          {{ post.content }}
      {% endif %}
    </div>
  </article>

{% endfor %}


{% include pagination.html %}
