 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!--<script src="/assets/js/chart.js"></script>-->
    <script src="/assets/js/bootstrap.js"></script>
    <!--<script src="/assets/js/prism.js"></script>-->
    <!--<script src="/assets/js/jquery.mCustomScrollbar.min.js"></script>-->
    <script src="/assets/js/jquery.newsTicker.js"></script>
   
