---
layout: default
---
<div class="post">
<h1 class="post-title">{{ page.title }}</h1>
<!--<span class="post-date">{{ page.date | date_to_string }}</span>-->
{{ content }}
</div>
<div class="related">
<h2>"Outros posts"</h2>
<ul class="related-posts nt-example2">
{% for post in site.related_posts limit:3 %}
<li>
<h3>
<a href="{{ post.url }}">
{{ post.title }}
<small>{{ post.date | date_to_string }}</small>
</a>
</h3>
</li>
{% endfor %}
</ul>
</div>

{% include ticker.html %}

 <script>
    		$(window).load(function(){
	            $('code.language-javascript').mCustomScrollbar();
	        });
            var nt_title = $('#nt-title').newsTicker({
                row_height: 40,
                max_rows: 1,
                duration: 3000,
                pauseOnHover: 0
            });
            var nt_title2 = $('#nt-title2').newsTicker({
                row_height: 40,
                max_rows: 1,
                duration: 6000,
                pauseOnHover: 0
            });
            var nt_example1 = $('#nt-example1').newsTicker({
                row_height: 80,
                max_rows: 1,
                duration: 4000
            });
            var nt_example2 = $('#nt-example2').newsTicker({
                row_height: 80,
                max_rows: 1,
                duration: 5000
            });
            var nt_example3 = $('#nt-example3').newsTicker({
                row_height: 80,
                max_rows: 1,
                duration: 9000
            });
  </script>
